.mySection{
  padding-top: 5%;
  padding-bottom: 5%;
  
}


.myDiv{
    background-color: cornflowerblue;
    background-image: url('..//../public/img1.jpeg');
    margin: 0;padding: 0;
    height: 500px;
    width: 1350px;
    background-repeat: no-repeat;
    background-size: cover;

}

